*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
    font-family:sans-serif cursive;
}

:root{
    --color-pagebackground: #00334e;
    --color-pagetext: #e8e8e8;
    --color-footertext: #e8e8e8;
    --color-navtext: #e8e8e8;
    --color-navtext-hilite:#ffec59;
    --color-darkblue: #00334e;
    --color-black: #000;
    --color-white: #000;
    --color-greywhite: #e8e8e8;
    --color-orange:#ff7f0e;
    --color-yellow:#ffec59; 
    --color-green:#4dd091;
    --color-dullgreen:#8dd7bf;
    --color-skyblue:#00a5e3;
    --color-skydullblue:#6c88c4;
    --color-lightred:#ff8e8b;
    --color-dullred:#ff5768;
    --color-red:#ff0000;
    --color-maroon:#800000;
    --color-deepblue:#0000ff;
    --color-navyblue:#000080;
    --color-brightgreen:#00ff00;
    --color-brightmagenta:#ff00ff;
}

body{
    background-color: var(--color-pagebackground);
    font-size: 1.1rem;
    color: var(--color-pagetext);
    transition: all .4s ease-in-out;
}

a{
    /* display:inline-block;*/
    text-decoration:none;
    color:inherit;
    font-family: inherit;
}



/***********************************/
/* ALL Pages' Header, Footer, Wrap */
/***********************************/

AllHeader {
    background: var(--color-pagebackground);
    overflow:hidden;
    width:100%;
    height:10vh;
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
}

AllFooter{
    text-align: center;
    padding: 10px 10px;
    font-family:sans-serif;
    display: flex;
    justify-content: center;
    background-color:var(--color-pagebackground);
    color:var(--color-footertext);
}

#AllWrap{
    margin-top: 10px;
    padding:0; 
    background: var(--color-pagebackground);
    text-decoration: none;
}


/******************/
/* Navigation Bar */
/******************/

#Nav{
    top: 0px;
    position: fixed;
    width: 100%;
    z-index: 999;
    background: var(--color-pagebackground);
}
#Nav a {
    display:inline-flex;
    align-items: center;
    font-family:sans-serif;
    padding: 10px 50px 10px 10px;
    font-size:20px;
    color: var(--color--navtext);
}
#Nav .NavActive, a:hover{
    color: var(--color-navtext-hilite);
}


/**************/
/* Page -Home */
/**************/

.HomeGotoButton1{
    color: var(--color-yellow);
    text-shadow: var(--color-orange) 5px 4px;
}
#HomeSection0{
    margin:0;
    padding: 0;
    width:100%;
 }
#HomeSection1{
    padding: 10px 50px 10px 50px;
    font-family: cursive;
    color: var(--color-yellow);
    background-image: url(./image/Ad0.png);
}
#HomeSection1BigText{
    padding: 10px 10px 10px 10px;
    text-align: center;
    font-weight:bolder;
    font-size: 45px;
}
#HomeSection1SmallText{
    text-align: left;
    padding: 10px 50px 10px 50px;
    font-size: 30px;
}


/***************/
/* Page -About */
/***************/

#AboutWrap{

    font-family: cursive;
    background-image: linear-gradient(red, white, red, orange,lightblue, lightgreen, silver, turquoise, gold, magenta, pink, limegreen, lightcoral, yellow, beige, cyan, orangered, brown, gray, indigo, darkblue, plum, olive, goldenrod, maroon, chartreuse,darkgreen, ivory, pink, purple, violet, black, #00334e, #00334e, #00334e); 
}
#AboutPicFlower{
    padding: 250px 50px 50px 50px;
    background-image: url(./image/flower.gif);
    background-size: 20% 100%;
  }
#AboutPicLogo{
    padding: 50px 0px 10px 0px;
    background-image: url(./image/Logo.svg);
    background-repeat: repeat-x;
  }
#AboutSection1SmallText{
    padding: 20px 100px 0px 100px;
    color: var(--color-greywhite);
    font-size: 30px;
    font-weight:bold;
}
#AboutSection1BigText{
    padding: 0px 10px 0px 10px;
    color: var(--color-greywhite);
    font-weight:bolder;
    font-size: 85px;
    text-align: center;
    position: relative;
    transform: translate(0%, -5%);
    text-transform: uppercase;
}

span{
    display:inline-block;
    font-weight: bolder;
    animation: TextAboutUs 6s linear infinite;
}

@keyframes TextAboutUs {
    10%   { color:var(--color-skyblue);
        transform: translateY(0px);}
    30%  {color:var(--color-dullgreen);
        transform: translateY(10px);}
    40%  {color: var(--color-green);
        transform: translateY(-10px);}
    50%  {color:var(--color-dullred);
        transform: translateY(10px);}
    70%  {color:var(--color-red);
        transform: translateY(-10px);}  
    90%  {color:var(--color-skydullblue);
        transform: translateY(10px);}  
}

span:nth-child(1){
    animation-delay:-4.5s;
}
span:nth-child(2){
    animation-delay:-4s;
}
span:nth-child(3){
    animation-delay:-3.5s;
}
span:nth-child(4){
    animation-delay:-3s;
}
span:nth-child(5){
    animation-delay:-2.5s;
}
span:nth-child(6){
    animation-delay:-2s;
}
span:nth-child(7){
    animation-delay:-1.5s;
}
span:nth-child(8){
    animation-delay:-1s;
}
span:nth-child(9){
    animation-delay:-0.5s;
}
span:nth-child(10){
    animation-delay:-0s;
}


/******************/
/* Page - Gallery */
/******************/

.GallerySection1{
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    z-index:-1;
}

#GallerySectionLeft{
    background-image: url(./image/RoadPass.gif);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 50% 100%;
}

#GallerySectionLeft2{
    background-image: url(./magic.gif);
    background-position: center left;
    
}
#GallerySectionRight{   
    background-image: url(./image/galleryhome0.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 50% 100%;
}
#GallerySectionRightText{
    font-family: cursive;
    font-size:75px;
    position: absolute;
    top: 45%;
    left:75%;
    transform: translate(-40%, -40%);
    color: var(--color-red);
    text-shadow: 6px 6px var(--color-greywhite);
}
#Shine{
    display:inline-block;
    font-weight:bolder;
    animation: ShineText 10s linear infinite;
}
@keyframes ShineText {
 
  25%  {color: var(--color-deepblue);
      text-shadow: 6px 6px var(--color-orange);
      }
  50%  {color: var(--color-brightgreen);
      text-shadow: 6px 6x var(--color-yellow);
      }
  75%  {color: var(--color-deepyellow);
      text-shadow: 6px 6px var(--color-brightmagenta);
      }
}

#Shine:nth-child(1){
    animation-delay:0s;
}
#Shine:nth-child(2){
    animation-delay:1s;
}
#Shine:nth-child(3){
    animation-delay:2s;
}
#Shine:nth-child(4){
    animation-delay:3s;
}
#Shine:nth-child(5){
    animation-delay:4s;
}
#Shine:nth-child(6){
    animation-delay:5s;
}
    

/****************/
/* Page - Video */
/****************/


.Video {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2px;
}

#Video{
    width:20%;
    height:20%;
}

#Videoitem--1{
    grid-column-start:30;
    grid-column-end:20;    
    grid-row-start:10;    
    grid-row-end:15;
   
}

.Videoitem--2{
    grid-column-start:5;
    grid-column-end:10;    
    grid-row-start:2;    
    grid-row-end:4;
    height:30px; width:30px;
    margin-top:800px;
}
